body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: rgb(229, 218, 218);
    background: url('bg.jpg') no-repeat;
    background-size: auto;
    position: absolute;
    top: 50%;
    left: 50%;
}

.center {
    position: absolute;
    font-family: "Lucida Sans";
    top: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
    width: 1080px;
    height: 800px;
    background: rgba(255, 255, 255, 0.921);
    border-radius: 30px;
    color: black;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.headline{
    font-size: 35px;
    position: absolute;
    margin-top: -15px;
}

.logout {
    border-color: #7492c1;
    position: absolute;
    margin-top: 35px;
    margin-left: 860px;
    margin-right: 20px;
    border-radius: 20px;
    font-size: 25px;
    background-color: white;
    height: 40px;
    width: 120px;
}

.ui-widget_1 { 
    position:absolute; 
    display:inline-block; 
    width:160px; 
    height:160px; 
    margin:30px; 
    margin-top: -50px;
    margin-left: 300px;
    border:15px solid #ffffff; 
    border-radius:80px; 
    text-align:center; 
    font-family: Arial, sans-serif; 
    box-shadow:inset 0 1px 0 rgba(255,255,255,.8), inset 0 3px 5px rgba(0,0,0,.25); 
    box-sizing:border-box; 
    border-bottom-color:#fff 
}

.ui-widget_1 .ui-value {
    position:absolute; 
    left:0; 
    right:0; 
    top:28px; 
    font-size:28px; 
}

.ui-widget_1 .ui-label { 
    position:absolute; 
    left:0; 
    bottom:-10px; 
    width:100%; 
    font-size:14px; 
    text-transform:uppercase; 
    color:#888; 
    font-weight:800 
}

.ui-widget_2 {
    font-family: "Lucida Sans";
    position: absolute;
    display:inline-block; 
    width:120px; 
    height:120px; 
    margin:30px; 
    margin-left: -420px;
    margin-top: -150px;
    border-radius:80px; 
    text-align:center; 
    font-family: Arial, sans-serif; 
    box-sizing:border-box; 
    border-bottom-color:#fff 
}

.ui-widget_2 .ui-value { 
    font-family: "Tahoma";
    font-weight: 200;
    position:absolute; 
    left:-30px;  
    top:-110px; 
    font-size:120px; 
}

.ui-widget_3 { 
    font-family: "Lucida Sans";
    position: absolute;
    display:inline-block; 
    width:160px; 
    height:160px; 
    margin:30px; 
    margin-left: 300px;
    margin-top: -250px;
    border:15px solid #ffffff; 
    border-radius:80px; 
    text-align:center; 
    font-family: Arial, sans-serif; 
    box-shadow:inset 0 1px 0 rgba(255,255,255,.8), inset 0 3px 5px rgba(0,0,0,.25); 
    box-sizing:border-box; 
    border-bottom-color:#fff 
}

.ui-widget_3 .ui-value { 
    position:absolute; 
    left:0; 
    right:0; 
    top:28px; 
    font-size:28px; 
}

.ui-widget_3 .ui-label { 
    position:absolute; 
    left:0; 
    bottom:-10px; 
    width:100%; 
    font-size:14px; 
    text-transform:uppercase; 
    color:#888; 
    font-weight:800 
}

.center h1{
    text-align: left;
    padding: 20px 80px 20px 40px;
    margin-left: 60px;
    margin-right: 80px;
    font-size: 40px;
    margin-top: 20px;
}

.center form{
    padding: 0 40px;
    box-sizing: border-box;
}

form .txt_field{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;

}

.txt_field input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

#city{
    position: fixed;
    margin-left: 140px;
    margin-top: -270px;
    font-size: 28px;
}

.txt_field label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.txt_field span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #ffffff
}
#searchbutton{
    padding-top: 4px;
}

#button{
    width: 40px;
    height: 40px;
    margin-left: 20px;;
    border-radius: 100%;
    background-color: #ffffff;
    border-color: #7492c1;
}

#search{
    margin-left: 340px;
    height: 28px;
    border-color: #7492c1;
    border-radius: 10px;
}

.box .description{
    position: relative;
    display: inline-block;
    float: right;
    text-align: left;
    padding-left: 50px;
    word-wrap: break-word;
}

#searching{
    margin-top: -16px;
    margin-bottom: 0px;
    margin-left: -328px;
}

#text{
    font-size: 18px;
}

#headline{
    font-size: 23px; 
    margin-right: 50px;
    margin-top: 90px;
}

#box_headline{
    margin-left: -300px;
    font-size: 50px;
    font-weight: 150px;
    position: absolute;
}

.box{
    position: absolute;
    bottom: -440px;
    transform: translate(-50%, -50%);
    width: 900px;
    height: 200px;
    background: #ffffff;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 15px;
}

#image_1{
    position: relative;
    margin-left: 360px;
    margin-top: 170px;
    border-radius: 100%;
}

img{
    width: 50%;
}

.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
    top: -5px;
    color: #7492c1;
}

.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
    width: 100%;
}

.pass{
  margin: -5px 0 20px 5px;
  color: #a6a6a6;
  cursor: pointer; 
}

.pass:hover{
    text-decoration: underline;
}

input[type="submit"]{
    width: 100%;
    height: 60px;
    border: 1px solid;
    background: #7492c1;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover{
    border-color: #7492c1;
    transition: .5s;
}

.signup_link{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #666666;
}

.signup_link a{
    color: #7492c1
}

.signup_link a:hover{
    text-decoration: underline;
}


@media only screen and (max-width: 1200px){
    #image_1{
        position: relative;
        margin-left: 290px;
        margin-top: 180px;
        border-radius: 100%;
        background-clip: padding-box;
    }

    img{
        width: 57%;
    }

    #box_headline{
        margin-left: -240px;
        font-size: 50px;
        font-weight: 150px;
        position: absolute;
    }

    .box{
        width: 800px;
    }
    
    .logout {
        border-color: #7492c1;
        color: black;
        position: absolute;
        margin-top: 35px;
        margin-right: 20px;
        margin-left: 720px;
    }

    #city{
        position: fixed;
        margin-left: 100px;
        margin-top: -300px;
        font-size: 28px;
    }

    .ui-widget_3 { 
        margin-left: 240px;
        margin-top: -250px;
    }
    
    .ui-widget_3 .ui-value { 
        position:absolute; 
        left:0; 
        right:0; 
        top:28px; 
        font-size:28px; 
    }

    .ui-widget_2 { 
        margin-left: -420px;
        margin-top: -90px;
    }
    
    .ui-widget_2 .ui-value { 
        position:absolute; 
        left:40px;  
        top:-170px; 
        font-size:100px; 
        font-family: "Tahoma";
        font-weight: 200;
    }

    .ui-widget_1 { 
        margin-top: -50px;
        margin-left: 240px;
    }
    
    .ui-widget_1 .ui-value { 
        position:absolute; 
        left:0; 
        right:0; 
        top:28px; 
        font-size:28px; 
    }

    .ui-widget_1 .ui-label { 
        position:absolute; 
        left:0; 
        bottom:-10px; 
        width:100%; 
        top: 120px;
        font-size:14px; 
        text-transform:uppercase; 
        color:#888; 
        font-weight:800 
    }
    
    body {
        top: 50%;
        left: 50%;
    }

    .center {
        position: absolute;
        top: 50%;
        bottom: 50%;
        transform: translate(-50%, -50%);
        width: 900px;
        height: 800px;
        background: rgba(255, 255, 255, 0.921);
        border-radius: 30px;
        color: black;
    }

    .headline{
        font-size: 35px;
        position: absolute;
        margin-top: -15px;
    }


}


@media only screen and (max-width: 980px){
    #image_1{
        position: relative;
        margin-left: 230px;
        margin-top: 176px;
        border-radius: 100%;
    }

    img{
        width: 50%;
    }

    .ui-widget_2 .ui-label { 
        position:absolute; 
        left:0; 
        bottom:-10px; 
        width:100%; 
        top: 100px;
        font-size:14px; 
        text-transform:uppercase; 
        color:#888; 
        font-weight:800 
    }
    
    #box_headline{
        margin-left: -120px;
        font-size: 30px;
        font-weight: 150px;
        position: absolute;
    }

    #headline{
        margin-left: 20px;
        top: -40px;
        font-size: 18px;
        font-weight: 150px;
        position: absolute;
    }

    .box{
        width: 600px;
        height: 140px;
        top: 200px;
    }
    
    .logout {
        border-color: #7492c1;
        color: black;
        position: absolute;
        margin-top: 35px;
        margin-right: 20px;
        margin-left: 520px;
    }

    #city{
        position: fixed;
        margin-left: 128px;
        margin-top: -230px;
        font-size: 24px;
    }

    .ui-widget_3 { 
        width:140px; 
        height:140px; 
        margin-left: 170px;
        margin-top: -190px;
    }
    
    .ui-widget_3 .ui-value { 
        position:absolute; 
        left:0; 
        right:0; 
        top:28px; 
        font-size:24px; 
    }
    
    .ui-widget_2 { 
        margin-left: -420px;
        margin-top: -90px;
    }
    
    .ui-widget_2 .ui-value { 
        position:absolute; 
        left:180px;  
        top:-70px; 
        font-size:70px; 
        font-family: "Tahoma";
        font-weight: 200;
    }

    .ui-widget_1 { 
        position:absolute; 
        display:inline-block; 
        width:140px; 
        height:140px; 
        margin-top: -20px;
        margin-left: 170px;
    }
    
    .ui-widget_1 .ui-value { 
        position:absolute; 
        left:0; 
        right:0; 
        top:28px; 
        font-size:24px; 
    }

    #button{
        margin-left: 20px;
        margin-right: 20px;
    }

    #search{
        margin-top: 110px;
        width: 150px;
        margin-right: -10px;
    }

   
    .ui-widget_1 .ui-label { 
        position:absolute; 
        left:0; 
        bottom:-10px; 
        width:100%; 
        top: 100px;
        font-size:14px; 
        text-transform:uppercase; 
        color:#888; 
        font-weight:800 
    }

    body {
        top: 50%;
        left: 50%;
    }

    .center {
        position: absolute;
        top: 50%;
        bottom: 50%;
        transform: translate(-50%, -50%);
        width: 700px;
        height: 620px;
        background: rgba(255, 255, 255, 0.921);
        border-radius: 30px;
        color: black;
    }

    .headline{
        font-size: 35px;
        position: absolute;
        margin-top: -15px;
    }

    #text{
        margin-top: 78px;
        margin-left: 18px;
    }
}


@media only screen and (max-width: 740px){
    #image_1{
        position: relative;
        margin-left: 140px;
        margin-top: 70px;
        border-radius: 100%;
    }

    img {
        width: 58%;
    }

    #box_headline{
        margin-left: -40px;
        margin-top: 28px;
        font-size: 18px;
        font-weight: 150px;
        position: absolute;
    }


    #headline{
        margin-left: 10px;
        margin-right: 10px;
        top: -70px;
        font-size: 12px;
        font-weight: 120px;
        position: absolute;
    }

    .ui-widget_3 .ui-label { 
        position:absolute; 
        line-height: 12px;
        bottom:-10px; 
        width:100%; 
        top: 32px;
        font-size:10px; 
        text-transform:uppercase; 
        color:#888; 
        font-weight:800 
    }

    .box{
        width: 400px;
        height: 100px;
        top: 120px;
    }
    
    .logout {
        border-color: #7492c1;
        color: black;
        position: absolute;
        margin-top: 35px;
        margin-right: 20px;
        margin-left: 280px;
        height: 28px;
        width: 110px;
        font-size: 20px;
    }

    #city{
        position: fixed;
        margin-left: 60px;
        margin-top: -148px;
        font-size: 18px;
    }

    .ui-widget_3 { 
        width:70px; 
        height:70px; 
        margin-left: 120px;
        margin-top: -90px;
    }
    
    .ui-widget_3 .ui-value { 
        position:absolute; 
        left:0; 
        right:0; 
        top:10px; 
        font-size:10px; 
    }
    

    .ui-widget_2 { 
        margin-left: -400px;
        margin-top: -90px;
    }
    
    .ui-widget_2 .ui-value { 
        position:absolute; 
        left:240px;  
        top:-20px; 
        font-size:48px; 
        font-family: "Tahoma";
        font-weight: 200;
    }

    .ui-widget_1 { 
        position:absolute; 
        display:inline-block; 
        width:70px; 
        height:70px; 
        margin-left: 120px;
        margin-top: -20px;
    }
    
    .ui-widget_1 .ui-value { 
        position:absolute; 
        left:0; 
        right:0; 
        top:7px; 
        font-size:12px; 
    }

    #button{
        margin-left: 12px;
        margin-right: 12px;
    }

    #search{
        margin-top: 70px;
        width: 80px;
        height: 20px;
    }
   
    .ui-widget_1 .ui-label { 
        position:absolute; 
        left:-4px; 
        bottom:-10px; 
        width:100%; 
        top: 40px;
        font-size:10px; 
        text-transform:uppercase; 
        color:#888; 
        font-weight:800 
    }

    body {
        top: 50%;
        left: 50%;
    }

    .center {
        position: absolute;
        top: 50%;
        bottom: 50%;
        transform: translate(-50%, -50%);
        width: 420px;
        height: 400px;
        background: rgba(255, 255, 255, 0.921);
        border-radius: 30px;
        color: black;
    }

    .headline{
        font-size: 35px;
        position: absolute;
        margin-top: -15px;
    }

    #text{
        margin-top: 40px;
        margin-left: 10px;
        font-size: 12px;
    }
}






