body
{ 
    background-color: #98cff0;
    font-family: "Comic Sans MS", sans-serif;  
    font-size: 2em;
    padding-left: 200px;
    padding-top: 40px;
}

header {
    padding-left: 200px;
    margin-top: 20px;
    margin-bottom: -80px;

}

#main {
    width: 1500px;
    height: 800px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #f6f6f6;
    border-radius: 28px;
}

#temperature {
    padding-top: 140px;
    padding-bottom: 40px;
    padding-left: 0px;
    font-size: 90px;
}

#information{
    padding-top: 0px;
    padding-left: 1080px;
    font-size: 20px;
}


h2{
    font-size: 40%;
    padding-left: 20%;
    margin-top: 7%;
}


#box{
    width: 80%;
    padding-top: 12%;
    padding-right: 20%;
    margin-top: 2%;
    padding-bottom: 2%;
    background-color: #0088FF;
    border-radius: 20px;
}



#search{
    margin-top: 7%;
    margin-bottom: 0%;
    font-size: 40%;
    margin-left: 80%;
}


#information{
    margin-top: -2%;
    padding-bottom: 0%;
    margin-left: 18%;
}

#date{
    margin-top: -10%;
    font-size: 40%;
    margin-left: 100%;
}

