body
{ 
    background-color: #98cff0;
    font-family: "Comic Sans MS", sans-serif; 
    font-size: 220%; 
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
      
}

header {
    padding-left: 10%;
    margin-top: 4%;
    margin-bottom: -8%;
}

#main {
    width: 1500px;
    height: 800px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #f6f6f6;
    border-radius: 28px;
}


#temperature {
    padding-top: 8%;
    padding-bottom: 20%;
    padding-left: 0%;
    font-size: 280%;
}


h2{
    font-size: 40%;
    padding-left: 20%;
    margin-top: 7%;
}


#box{
    width: 80%;
    padding-top: 10%;
    padding-right: 20%;
    margin-top: 2%;
    padding-bottom: 2%;
    background-color: #0088FF;
    border-radius: 20px;
}



#search{
    margin-top: 7%;
    margin-bottom: 0%;
    font-size: 40%;
    margin-left: 80%;
}


#information{
    margin-top: -4%;
    padding-left: 90%;
    font-size: 20px;
}

#date{
    margin-top: -10%;
    font-size: 40%;
    margin-left: 100%;
}

