<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Landing Page</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/new_layout.css' %}">
    </head>
    <body>
        <div class="box">
            <div class="description">
                <h2 id="headline">Where do you want to go</h2>
                <div id="searching">
                    <form action="send/" method="POST">
                        <input type="search" id="search" name="yes" placeholder="Choose your destination ...">
                        <input id = "button" name="suchbutton" type="submit" value="&#128269;" >
                    </form>
                </div>
            </div>
            <div class="description">    
                <h2 id="headline">Date</h2>
                <p id="text">Set your Date</p>
            </div>
            <div class="description">
                <h3 id="box_headline">Just go somewhere</h3>
            </div>
        </div>

       
    </body>
<