<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Landing Page</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/new_layout.css' %}">
    </head>
    <body>
        
        {% load static %}
        <div class="center">
            
            <div>
                <h1>
                    <div>
                        <span style="color: #4883c7">W</span><span style="color: #4385c3">e</span><span style="color: #3f86bf">a</span><span style="color: #3a88bb">t</span><span style="color: #358ab8">h</span><span style="color: #318bb4">e</span><span style="color: #2c8db0">r</span>
                    </div>
                </h1>
            </div>
            <div id ="image_1">
                <img src="{% static 'pics/skiing.gif' %}" style="width:480px;height:380px;">
            </div>
            <div id="city"> 
                <p>{{Data.city}}</p>
            </div>
        </div>


        <div class="ui-widget_2">
            <h1 class="ui-value">{{Data.temperature}}°C</h1>
            <span class="ui-label">Temperature</span>
        </div>


        <div class="ui-widget_1">
            <h1 class="ui-value">{{Data.humidity}}%</h1>
            <span class="ui-label">Humidity</span>
        </div>

        <div class="ui-widget_3">
            <h1 class="ui-value">{{Data.wind_speed}} km/h</h1>
            <span class="ui-label">Wind Speed</span>
        </div>

        <div style="position: absolute; bottom: -300px;">
            <form action="send/" method="POST">
                <input name="redirect" type="submit" value="Redirect" style="position: relative;">
            </form>
        </div>
       
    </body>
</html>