<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <title>Weather</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/layout.css' %}" content-type="text/css">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">
</head>

<body>
    <div id="main">
        {% load static %}
        <header>Weather</header>
        <h3 style="text-align: right; padding-right: 30px;">{{request.user.username}}</h3>
        <form action="send/" method="POST">
            <input type="search" id="search" name="yes" placeholder="CITY ID...">
            <input id = "button" name="suchbutton" type="submit" value="&#128269;" >
        </form>
        <button type="button" class="btn btn-primary btn-lg" onclick="window.location.href = '/weather_app/logout';" id="anmeldung">Logout</button>
        <button type="button" class="btn btn-primary btn-lg" onclick="window.location.href = '/weather_app/plz/login';" id="anmeldung">Login</button>
        </div>
    </div>
</body>
</html>