<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PLZ Input pls</title>
</head>
<body>
    <form action="send/" method="POST">
        {% csrf_token %}
        <p>PLZ pls: </p>
        <input type="text" name="plz">
        <br> 
        <button id="plz_submit" onclick="window.location.href ='weather_api.html';" type="submit">Enter</button>
    </form>
</body>
</html>